@import "../../scss/variables";

.root {
  display: grid;
  grid-template-columns: repeat(4, 71px);
  grid-template-rows: 1fr;
  align-items: center;

  &_btn {
    background: var(--Neutral-1);
    border-top: 1px solid var(--Neutral-5);
    border-bottom: 1px solid var(--Neutral-5);
    border-left: 1px solid var(--Neutral-5);
  }

  &_btn:first-child {
    border-radius: 2px 0px 0px 2px;
  }

  &_btn:last-child {
    border-radius: 0px 2px 2px 0px;
    border-right: 1px solid var(--Neutral-5);
  }
}
