.root {
  display: grid;
  grid-template-columns: 465px auto;
  padding-top: var(--main-gap);
  padding-right: 14px;
  gap: var(--main-gap);

  @media (max-width: 980px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding-right: 0px;
  }
}
