.root {
  display: flex;
  flex-direction: column;
  gap: 48px;

  padding: 24px;
  background-color: var(--Neutral-1);

  &__sticky {
    display: flex;
    flex-direction: column;
    gap: 48px;

    position: sticky;
    top: 24px;
  }
}
