@import "./scss/mixins";

.App {
  min-height: 100vh;
  padding: var(--main-padding);
}

.prologue {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;

  &__img {
    display: grid;
    align-items: center;
    justify-content: center;
    // width: 369px;
    height: 160px;
    overflow: hidden;

    img {
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    &__text {
      color: #000;
      font-size: 14px;
      font-weight: 400;
      line-height: 18px; /* 128.571% */
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;

  section:last-child {
    height: 100%;
  }
}

.pr-0 {
  padding-right: 0;
}

.recipe-grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.text {
  color: var(--character-title-85);

  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.text-bold {
  color: var(--character-title-85);

  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

.grey-text {
  color: var(--character-secondary-45);

  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

.lh-16 {
  line-height: 16px;
}

.recipe-slider {
  display: flex;
  width: 942px;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;

  overflow: hidden;
  // padding: 12px;
  background: rgba(255, 255, 255, 0.5);
}

li.selected {
  @include shadow(--Primary-6);

  a {
    color: var(--Primary-6);
    font-weight: 500;
  }
}

li.break {
  a {
    color: var(--character-disabled-placeholder-25);

    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px; /* 228.571% */
    letter-spacing: 2px;

    margin: 0px 6px 0px 7px;
    width: 19px;
  }
}
