@mixin shadow() {
  box-shadow: inset 0px 0px 0px 1px var(--Neutral-5);
  -webkit-box-shadow: inset 0px 0px 0px 1px var(--Neutral-5);
  -moz-box-shadow: inset 0px 0px 0px 1px var(--Neutral-5);
  background-color: var(--Neutral-1);
}

@mixin fontBodyRegular() {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
